.mt-title {
  margin-top: 30rem;
}

.h-40 {
  height: 40rem;
}

/* Fade In Up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Zoom In */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Fade In Left */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Fade In Right */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rollInLeft {
  0% {
    transform-origin: left bottom;
    transform: translateX(-200%) rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInDownRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

/* Fade In Left DressCode*/
@keyframes fadeInLeft41 {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft42 {
  from {
    opacity: 0;
    transform: translateX(-70px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft43 {
  from {
    opacity: 0;
    transform: translateX(-90px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft44 {
  from {
    opacity: 0;
    transform: translateX(-110px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft45 {
  from {
    opacity: 0;
    transform: translateX(-130px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft48 {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeftCamera {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeftRing {
  from {
    opacity: 0;
    transform: translateX(-70px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeftEat {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeftDisco {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-on-scroll.visible.fadeInLeftCamera {
  animation: fadeInLeftCamera 0.7s ease-out forwards;
  animation-delay: 0.4s;
}

.animate-on-scroll.visible.fadeInLeftRing {
  animation: fadeInLeftRing 0.7s ease-out forwards;
  animation-delay: 0.7s;
}

.animate-on-scroll.visible.fadeInLeftEat {
  animation: fadeInLeftEat 0.7s ease-out forwards;
  animation-delay: 1s;
}

.animate-on-scroll.visible.fadeInLeftDisco {
  animation: fadeInLeftDisco 0.7s ease-out forwards;
  animation-delay: 1.3s;
}

.animate-on-scroll.visible.fadeInLeft41 {
  animation: fadeInLeft41 0.7s ease-out forwards;
}

.animate-on-scroll.visible.fadeInLeft42 {
  animation: fadeInLeft42 1.2s ease-out forwards;
}

.animate-on-scroll.visible.fadeInLeft43 {
  animation: fadeInLeft43 1.7s ease-out forwards;
}

.animate-on-scroll.visible.fadeInLeft44 {
  animation: fadeInLeft44 2.2s ease-out forwards;
}

.animate-on-scroll.visible.fadeInLeft45 {
  animation: fadeInLeft45 2.7s ease-out forwards;
}

.animate-on-scroll.visible.fadeInLeft48 {
  animation: fadeInLeft48 3.2s ease-out forwards;
}

/* Common hidden state */
.animate-on-scroll {
  opacity: 0;
}

/* When visible + animation name => play */
.animate-on-scroll.visible.fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

.animate-on-scroll.visible.zoomIn {
  animation: zoomIn 1s ease-out forwards;
}

.animate-on-scroll.visible.fadeInLeft {
  animation: fadeInLeft 1s ease-out forwards;
}

.animate-on-scroll.visible.fadeInRight {
  animation: fadeInRight 1s ease-out forwards;
}

.animate-on-scroll.visible.rollInLeft {
  animation: rollInLeft 1s ease-out forwards;
}

.animate-on-scroll.visible.rotateInDownRight {
  animation: rotateInDownRight 1s ease-out forwards;
}
.animate-on-scroll.visible.rotateInDownLeft {
  animation: rotateInDownLeft 1s ease-out forwards;
}

.line-1 {
  height: 90px;
  top: 0px;
  left: 176px;
  border-bottom: 2px solid rgb(146, 131, 98);
  border-left: 2px solid rgb(146, 131, 98);
}

.mt-8 {
  margin-top: 8rem;
}

.mt-22 {
  margin-top: 22rem;
}

.mt-23 {
  margin-top: 23rem;
}

.mt-27 {
  margin-top: 27rem;
}

.mt-24 {
  margin-top: 24rem;
}

.mt-30 {
  margin-top: 30rem;
}

.mt-31 {
  margin-top: 31rem;
}

.mt-33 {
  margin-top: 33rem;
}

.line-2 {
  width: 263px;
  border-right: 2px solid rgb(146, 131, 98);
  border-bottom: 2px solid rgb(146, 131, 98);
  border-left: 0px;
}

.mt-36 {
  margin-top: 36rem;
}

.mt-37 {
  margin-top: 37rem;
}

.mt-42 {
  margin-top: 42rem;
}

.mt-43 {
  margin-top: 43rem;
}

.mt-45 {
  margin-top: 45rem;
}

.mt-47 {
  margin-top: 48rem;
}

.mt-50 {
  margin-top: 50rem;
}

.mt-54 {
  margin-top: 93rem;
}

.mt-19 {
  margin-top: 18rem;
}

.mt-20 {
  margin-top: 20rem;
}

.nav-image {
  width: 6%;
}

.pt-14 {
  padding-top: 14rem;
}

.dip {
  margin-left: 16rem;
  margin-top: 6rem;
}

.dip-img {
  background-size: cover;
  top: 71.2px;
  width: 202px;
  height: 202px;
}

.duy {
  margin-left: 2rem;
  margin-top: 21rem;
}

#GROUP1 {
  width: 420px;
  height: 525.84px;
  top: 210px;
  overflow: hidden;
}

#BOX1 > .ladi-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/wedding/BONN0582.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 50% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  transform: rotate(-11deg);
}

#BOX1 > .ladi-transition {
  transition: all 150ms linear 0s;
}

#BOX1 {
  width: 202px;
  height: 202px;
  top: 71.2px;
  left: 0px;
}

#BOX1 > .ladi-box:hover {
  transform: rotate(0deg);
  opacity: 1;
}

#BOX2 {
  width: 213px;
  height: 213px;
  top: 256.2px;
  left: 201px;
}

#BOX2 > .ladi-box {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url(../images/wedding/BONN1049.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 50% 20%;
  background-repeat: repeat;
  background-attachment: scroll;
  transform: rotate(10deg);
}

#IMAGE7 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/home_11.png);
  background-size: contain;
}

#IMAGE7,
#IMAGE7 > .ladi-image > .ladi-image-background {
  width: 420px;
  height: 122.52px;
}

#IMAGE7 > .ladi-image {
  opacity: 0.92;
}

#BOX17 {
  width: 34px;
  height: 80px;
  top: 20.0001px;
  left: 386px;
}

#BOX17 > .ladi-box {
  background-image: url(../images/wedding/BONN0052.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 50% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
}

#BOX16 {
  width: 114px;
  height: 78px;
  top: 22.0001px;
  left: 269px;
}

#BOX16 > .ladi-box {
  background-image: url(../images/wedding/BONN0280.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-attachment: scroll;
}

#BOX15 {
  width: 112px;
  height: 78px;
  top: 22.0001px;
  left: 153px;
}

#BOX15 > .ladi-box {
  background-image: url(../images/wedding/BONN0315.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-attachment: scroll;
}

#BOX14 {
  width: 113px;
  height: 79px;
  top: 22.0001px;
  left: 36.5px;
}

#BOX14 > .ladi-box {
  background-image: url(../images/wedding/BONN0186.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 30% 60%;
  background-repeat: repeat;
  background-attachment: scroll;
}

#BOX13 {
  width: 35.5px;
  height: 79px;
  top: 22.0001px;
  left: 0px;
}

#BOX13 > .ladi-box {
  background-image: url(../images/wedding/BONN0395.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 100% 60%;
  background-repeat: repeat;
  background-attachment: scroll;
}

.ladi-box {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#GROUP9,
#BOX18 {
  width: 267px;
  height: 267px;
}

#GROUP9 {
  top: 89.2px;
  left: 167px;
}

#GROUP9.ladi-animation > .ladi-group {
  animation-name: rotateInDownRight;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#BOX18 > .ladi-box {
  transform: rotate(13deg);
  box-shadow: rgb(0, 0, 0) 0px 7px 20px -17px;
}

#BOX19 {
  width: 240px;
  height: 240px;
  top: 12.59px;
  left: 13.59px;
}

#BOX19 > .ladi-box {
  background-image: url(../images/wedding/BONN0050.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 80% 80%;
  background-repeat: repeat;
  background-attachment: scroll;
  transform: rotate(13deg);
}

.ladi-transition {
  transition: all 150ms linear 0s;
}

.ladi-group {
  position: absolute;
  width: 100%;
  height: 100%;
}

#BOX8 > .ladi-box:hover,
#BOX9 > .ladi-box:hover,
#BOX20 > .ladi-box:hover,
#BOX21 > .ladi-box:hover,
#BOX18 > .ladi-box:hover,
#BOX19 > .ladi-box:hover {
  transform: rotate(0deg);
  opacity: 1;
}
#BOX20 > .ladi-box,
#BOX18 > .ladi-box,
#BOX24 > .ladi-box,
#BOX29 > .ladi-box,
#BOX30 > .ladi-box,
#BOX31 > .ladi-box,
#BOX32 > .ladi-box,
#POPUP1 > .ladi-popup > .ladi-popup-background,
#POPUP2 > .ladi-popup > .ladi-popup-background {
  background-color: rgb(255, 255, 255);
}
.SECTION5 {
  width: 100%;
  height: 3900px;
  overflow: hidden;
}
#GROUP19 {
  width: 187.5px;
  height: 128px;
  top: 122.6px;
  left: -18px;
}

#HEADLINE43 {
  width: 146px;
}

#HEADLINE43 > .ladi-headline,
#HEADLINE63 > .ladi-headline {
  font-size: 80.15px;
  line-height: 1.6;
  color: rgb(146, 131, 98);
  letter-spacing: 0px;
  text-align: center;
}

#HEADLINE44 {
  width: 130px;
  top: 76px;
  left: 57.5px;
}

#HEADLINE44 > .ladi-headline {
  font-size: 30px;
  line-height: 1.6;
  color: rgb(146, 131, 98);
  text-transform: uppercase;
  letter-spacing: 0px;
  text-align: left;
}

#IMAGE52,
#IMAGE52 > .ladi-image > .ladi-image-background {
  width: 419.178px;
  height: 425.885px;
}

#IMAGE52 {
  top: 270px;
  left: 0.31px;
}

#IMAGE52 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/home_12.jpg);
  background-size: cover;
}
.mt-59 {
  margin-top: 59rem;
}
#GROUP10 {
  top: 295.2px;
  left: 31px;
}

#GROUP10.ladi-animation > .ladi-group {
  animation-name: rotateInDownLeft;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#BOX20 > .ladi-box,
#BOX18 > .ladi-box,
#BOX24 > .ladi-box,
#BOX29 > .ladi-box,
#BOX30 > .ladi-box,
#BOX31 > .ladi-box,
#BOX32 > .ladi-box,
#POPUP1 > .ladi-popup > .ladi-popup-background,
#POPUP2 > .ladi-popup > .ladi-popup-background {
  background-color: rgb(255, 255, 255);
}

#GROUP10,
#BOX20 {
  width: 221px;
  height: 221px;
}

#BOX20 > .ladi-box {
  transform: rotate(-3deg);
  box-shadow: rgb(0, 0, 0) 0px 7px 20px -17px;
}

#BOX21 {
  width: 195.28px;
  height: 195.28px;
  top: 12.3836px;
  left: 12.8599px;
}

#BOX21 > .ladi-box {
  background-image: url(../images/wedding/BONN0414.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 50% 90%;
  background-repeat: repeat;
  background-attachment: scroll;
  transform: rotate(-3deg);
}
#HEADLINE45 {
  width: 114px;
  top: 404.6px;
  left: 273px;
}

#HEADLINE45 > .ladi-headline {
  line-height: 1.1;
  color: rgb(146, 131, 98);
  letter-spacing: 0px;
  text-align: left;
}

.mt-52 {
  margin-top: 51rem;
}

#GALLERY1 {
  width: 100%;
  height: 666px;
  top: 695.885px;
}

#CHATBOX {
  width: 100%;
  height: 666px;
  top: 695.885px;
}

.mt-99 {
  margin-top: 99rem;
}

.mt-135 {
  margin-top: 135rem;
}

.mt-74 {
  margin-top: 74rem;
}

.mt-81 {
  margin-top: 86rem;
}

.mt-89 {
  margin-top: 89rem;
}

.mt-222 {
  margin-top: 219rem;
}

#HEADLINE63 {
  width: 320px;
  top: 600px;
  left: 50px;
}

.mt-181 {
  margin-top: 181rem;
}

.mt-190 {
  margin-top: 190rem;
}

.mt-172 {
  margin-top: 172rem;
}

.mt-199 {
  margin-top: 199rem;
}

.bg-home2 {
  background-image: url(../images/cover/home_2.jpg);
}

#GROUP38 {
  width: 100%;
  height: 767.868px;
  top: 643.332px;
  left: 0px;
}

#LINE4 {
  height: 639px;
  top: 75.468px;
  left: 17.19px;
}

#LINE1 > .ladi-line > .ladi-line-container,
#LINE4 > .ladi-line > .ladi-line-container {
  height: 100%;
  border-top: 0px !important;
  border-left: 2px solid rgb(146, 131, 98);
}

#LINE1 > .ladi-line,
#LINE4 > .ladi-line {
  height: 100%;
  padding: 0px 8px;
}

#BOX10,
#BOX11,
#BOX12 {
  width: 10px;
  height: 10px;
}

#BOX10 {
  top: 68.768px;
  left: 20.69px;
}

#BOX10 > .ladi-box,
#BOX11 > .ladi-box,
#BOX12 > .ladi-box,
#BOX32 > .ladi-box,
#BOX29 > .ladi-box,
#BOX30 > .ladi-box,
#BOX31 > .ladi-box,
#BOX35 > .ladi-box {
  border-radius: 100px;
}

#BOX10 > .ladi-box,
#BOX11 > .ladi-box,
#BOX12 > .ladi-box,
#BOX35 > .ladi-box,
#BUTTON3 > .ladi-button > .ladi-button-background {
  background-color: rgb(146, 131, 98);
}

#BOX42 > .ladi-box {
  background-color: rgb(255, 228, 196);
}

#BOX11 {
  top: 270.768px;
  left: 20.69px;
}

#BOX12 {
  top: 534.768px;
  left: 20.69px;
}

#HEADLINE37,
#HEADLINE39,
#HEADLINE41 {
  width: 330px;
}

#HEADLINE37 {
  top: 57.268px;
  left: 44.69px;
}

#HEADLINE37 > .ladi-headline,
#HEADLINE39 > .ladi-headline,
#HEADLINE41 > .ladi-headline {
  font-size: 20px;
  line-height: 1.6;
  color: rgb(146, 131, 98);
  text-transform: uppercase;
  letter-spacing: 0px;
  text-align: left;
}

#HEADLINE38,
#HEADLINE40,
#HEADLINE42 {
  width: 87%;
}

#HEADLINE38 {
  top: 94.168px;
  left: 44.69px;
}

#HEADLINE38 > .ladi-headline,
#HEADLINE40 > .ladi-headline,
#HEADLINE42 > .ladi-headline {
  font-size: 15px;
  line-height: 1.5;
  color: rgb(146, 131, 98);
  text-align: left;
}

#HEADLINE39 {
  top: 259.268px;
  left: 44.69px;
}

#HEADLINE40 {
  top: 295.268px;
  left: 44.69px;
}

#HEADLINE41 {
  top: 524.268px;
  left: 44.69px;
}

#HEADLINE42 {
  top: 560.268px;
  left: 44.69px;
}

#SECTION6 {
  height: 500px;
  width: 100%;
}

#IMAGE53 {
  width: 419.434px;
  height: 186.111px;
  top: -0.11px;
  left: 0.783px;
}

#IMAGE53 > .ladi-image > .ladi-image-background {
  width: 419.434px;
  height: 421.111px;
}

#GROUP13,
#BOX27,
#BOX28 {
  width: 420px;
  height: 327px;
}

#GROUP13 {
  top: 173px;
  left: 0px;
}

#BOX27 > .ladi-box {
  background-image: url(../images/wedding/BONN9133.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 50% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
}

#BOX28 > .ladi-box {
  background-color: rgba(2, 2, 2, 0.4);
}

#HEADLINE46,
#HEADLINE47 {
  width: 243px;
}

#HEADLINE46 {
  top: 7.2px;
  left: 88.5px;
}

#HEADLINE46 > .ladi-headline {
  line-height: 1.1;
  color: rgb(146, 131, 98);
  letter-spacing: 0px;
  text-align: center;
}

#HEADLINE47 {
  top: 220.2px;
  left: -5.5px;
}

#HEADLINE47 > .ladi-headline {
  line-height: 1.1;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: center;
}

#LINE5 {
  width: 370px;
  top: 353.5px;
  left: 25px;
}

#LINE5 > .ladi-line > .ladi-line-container {
  border-top: 2px solid rgb(255, 255, 255);
}

#LINE2 > .ladi-line,
#LINE3 > .ladi-line,
#LINE5 > .ladi-line,
#LINE6 > .ladi-line {
  width: 100%;
  padding: 8px 0px;
}

.time-line {
  width: 370px;
  border-top: 2px solid rgb(255, 255, 255);
}

.time-line-1 {
  padding: 8px 0px;
  top: 353.5px;
}

#GROUP39,
#GROUP23 {
  width: 85px;
  height: 113.7px;
}

#GROUP39 {
  top: 316.5px;
  left: 305px;
}

#BOX32,
#BOX29,
#BOX30,
#BOX31 {
  width: 9px;
  height: 9px;
}

#BOX32 {
  top: 41.5px;
  left: 37px;
}

#IMAGE11,
#IMAGE11 > .ladi-image > .ladi-image-background,
#IMAGE10,
#IMAGE10 > .ladi-image > .ladi-image-background {
  width: 34px;
  height: 34px;
}

#IMAGE11 {
  top: 0px;
  left: 24px;
}

#IMAGE11 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/disco.png);
  background-size: contain;
}

#HEADLINE51 {
  width: 56px;
  top: 61.7px;
  left: 14.5px;
}

#HEADLINE51 > .ladi-headline,
#HEADLINE50 > .ladi-headline,
#HEADLINE57 > .ladi-headline,
#HEADLINE59 > .ladi-headline,
#HEADLINE49 > .ladi-headline,
#HEADLINE48 > .ladi-headline {
  font-size: 17.27px;
  line-height: 1.1;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0px;
  text-align: center;
}

#SECTION7 {
  height: 825.6px;
  width: 100%;
}

#GROUP44 {
  width: 131.2px;
  height: 39.7px;
  top: -411.33px;
  left: 116px;
}

#BOX41,
#BOX42,
#BOX43,
#BOX44,
#BOX45,
#BOX48 {
  width: 39.7px;
  height: 39.7px;
}

#BOX41 > .ladi-box,
#BOX42 > .ladi-box,
#BOX43 > .ladi-box,
#BOX44 > .ladi-box,
#BOX45 > .ladi-box,
#BOX48 > .ladi-box {
  border-radius: 1000px;
  box-shadow: rgb(0, 0, 0) 0px 15px 20px -15px;
}

#BOX41 > .ladi-box {
  background-color: white;
}

#BOX41.ladi-animation > .ladi-box {
  animation-name: fadeInLeft;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#BOX42 {
  top: 0px;
  left: 28.9px;
}

#BOX42.ladi-animation > .ladi-box {
  animation-name: fadeInLeft;
  animation-delay: 0.7s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#BOX43 {
  top: 0px;
  left: 60.5px;
}

#BOX43 > .ladi-box {
  background-color: rgb(255, 218, 185);
}

#BOX44 {
  top: 0px;
  left: 91.5px;
}

#BOX44 > .ladi-box {
  background-color: rgb(238, 203, 173);
}

#BOX44.ladi-animation > .ladi-box {
  animation-name: fadeInLeft;
  animation-delay: 1.3s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#BOX45 {
  top: 0px;
  left: 122.5px;
}

#BOX45 > .ladi-box {
  background-color: rgb(205, 175, 149);
}

#BOX45.ladi-animation > .ladi-box {
  animation-name: fadeInLeft;
  animation-delay: 1.3s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#BOX48 {
  top: 0px;
  left: 153.5px;
}

#BOX48 > .ladi-box {
  background-color: rgb(160, 82, 45);
}

#BOX48.ladi-animation > .ladi-box {
  animation-name: fadeInLeft;
  animation-delay: 1.3s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#GROUP49 {
  width: 134.5px;
  height: 42px;
  top: 312.5px;
  left: 47.5004px;
}

#IMAGE9,
#IMAGE9 > .ladi-image > .ladi-image-background {
  width: 42px;
  height: 42px;
}

#IMAGE9 {
  top: -5px;
  left: 20px;
}

#IMAGE9 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/ring.png);
  background-size: contain;
}

#IMAGE8,
#IMAGE8 > .ladi-image > .ladi-image-background {
  width: 38px;
  height: 38px;
}

#IMAGE8 {
  top: -3px;
  left: 24.5px;
}

#IMAGE8 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/camera.png);
  background-size: contain;
}

#IMAGE12,
#IMAGE12 > .ladi-image > .ladi-image-background {
  width: 38px;
  height: 38px;
}

#IMAGE12 {
  top: -3px;
  left: 24.5px;
}

#IMAGE12 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/vow1.png);
  background-size: contain;
}

#GROUP22 {
  width: 85px;
  height: 112.7px;
  top: 317.5px;
  left: 216.5px;
}

#IMAGE10 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/eat.png);
  background-size: contain;
}

#HEADLINE48 {
  top: 378.2px;
  left: 44.5px;
}

#HEADLINE52 {
  width: 70px;
  top: 402.2px;
  left: 31.5px;
}

#HEADLINE55 > .ladi-headline,
#HEADLINE54 > .ladi-headline,
#HEADLINE58 > .ladi-headline,
#HEADLINE60 > .ladi-headline,
#HEADLINE53 > .ladi-headline,
#HEADLINE52 > .ladi-headline {
  font-size: 10px;
  line-height: 1.4;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0px;
  text-align: center;
}

#HEADLINE49 {
  top: 378.2px;
  left: 141px;
}

#HEADLINE53 {
  top: 402.2px;
  left: 120.5px;
}

#HEADLINE50 {
  top: 60.7px;
  left: 20.5px;
}

#HEADLINE54 {
  top: 84.7px;
  left: 0px;
}

#HEADLINE55,
#HEADLINE54,
#HEADLINE58,
#HEADLINE60,
#HEADLINE53 {
  width: 85px;
}

#HEADLINE55 {
  top: 85.7px;
  left: 0px;
}

#LINE2,
#IMAGE10 {
  top: 0px;
  left: 24.5px;
}

#BOX29 {
  top: 358px;
  left: 63px;
}

#BOX30 {
  top: 358px;
  left: 158px;
}

#BOX31 {
  top: 358px;
  left: 253px;
}

.ladi-form-control-select {
  width: 100%;
  background: none;
}

#HEADLINE56 {
  width: 100%;
  top: 525px;
  display: grid;
  justify-content: center;
}

#HEADLINE56 .ladi-headline {
  width: 381px;
  text-align: center;
}

#BUTTON3 {
  top: 628px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

#BUTTON3 > .ladi-button {
  width: 382.078px;
  border-width: 1px;
  border-radius: 37px;
  border-color: rgb(146, 131, 98);
}

#BUTTON_TEXT3 {
  width: 382px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

#BUTTON_TEXT3 > .ladi-headline {
  font-size: 19px;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  text-align: center;
}

.ladi-button {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ladi-button .ladi-button-background {
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: inherit;
}

#GROUP24 {
  width: 85px;
  height: 112.7px;
  top: 317.5px;
  left: 25px;
}

#HEADLINE57 {
  top: 60.7px;
  left: 20.5px;
}

#HEADLINE58 {
  top: 84.7px;
  left: 0px;
}

#GROUP25 {
  width: 85px;
  height: 112.7px;
  top: 317.5px;
  left: 123px;
}

#HEADLINE59 {
  top: 60.7px;
  left: 20.5px;
}

#HEADLINE60 {
  top: 84.7px;
  left: 0px;
}

#BUTTON4 {
  top: 686px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

#BUTTON4 > .ladi-button {
  width: 382.078px;
  border-width: 1px;
  border-radius: 37px;
  border-color: rgb(146, 131, 98);
}

#BUTTON_TEXT4 {
  width: 382px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#BUTTON_TEXT4 > .ladi-headline {
  font-size: 19px;
  line-height: 1.6;
  text-align: center;
}

#GROUP46 {
  width: 100%;
  height: 486.3px;
  top: 210px;
  left: 5px;
  display: flex;
  justify-content: center;
}

#GROUP46 .ladi-group {
  width: 361.846px;
}

#IMAGE62,
#IMAGE62 > .ladi-image > .ladi-image-background {
  width: 352.718px;
  height: 383.757px;
}

#IMAGE62 {
  top: 102.543px;
  left: 0px;
}

#IMAGE62 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/letter-open.png);
  background-size: cover;
}

#IMAGE63,
#IMAGE63 > .ladi-image > .ladi-image-background {
  width: 316.057px;
  height: 385.591px;
}

#IMAGE63 {
  top: 0px;
  left: 9.65267px;
}

#IMAGE63 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/letter-flower.png);
  background-size: cover;
}

#GROUP47,
#IMAGE64,
#IMAGE64 > .ladi-image > .ladi-image-background {
  width: 230.589px;
  height: 230.591px;
}

#GROUP47 {
  top: 106.789px;
  left: 131.257px;
}

#IMAGE64 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/letter-right.png);
  background-size: cover;
}

#BOX46 {
  width: 176.46px;
  height: 176.461px;
  top: 27.065px;
  left: 25.9934px;
}

#BOX46 > .ladi-box {
  background-image: url(../images/wedding/BONN0901.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 50% 10%;
  background-repeat: repeat;
  background-attachment: scroll;
}

#BOX46 > .ladi-box,
#BOX8 > .ladi-box {
  transform: rotate(10deg);
}

#BOX46 > .ladi-box:hover,
#BOX47 > .ladi-box:hover,
#BOX20 > .ladi-box:hover,
#BOX21 > .ladi-box:hover,
#BOX18 > .ladi-box:hover,
#BOX19 > .ladi-box:hover {
  transform: rotate(0deg);
  opacity: 1;
}

#GROUP48,
#IMAGE65,
#IMAGE65 > .ladi-image > .ladi-image-background {
  width: 185.657px;
  height: 185.657px;
}

#GROUP48 {
  top: 202.955px;
  left: 14.7267px;
}

#IMAGE65 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/letter-left.png);
  background-size: cover;
}

#BOX47 {
  width: 155.214px;
  height: 154.143px;
  top: 16.0009px;
  left: 14.1512px;
}

#BOX47 > .ladi-box {
  background-image: url(../images/wedding/BONN0977.JPG);
  background-size: cover;
  background-origin: content-box;
  background-position: 0% 20%;
  background-repeat: repeat;
  background-attachment: scroll;
  transform: rotate(-2deg);
}

#IMAGE66,
#IMAGE66 > .ladi-image > .ladi-image-background {
  width: 351.429px;
  height: 221.862px;
}

#IMAGE66 {
  top: 264.438px;
  left: 0.644404px;
}

#IMAGE66 > .ladi-image > .ladi-image-background {
  background-image: url(../images/cover/letter-close.png);
  background-size: cover;
}

.left-16 {
  left: 16rem;
}