@keyframes riseUp {
  0% {
    transform: translateY(100vh); /* bắt đầu từ dưới đáy màn hình */
    opacity: 0;
  }
  100% {
    transform: translateY(0);     /* trở lại vị trí ban đầu */
    opacity: 1;
  }
}

/* Class để áp dụng animation */
.letter-animate {
  animation: riseUp 1s ease-out forwards;
}

.main-wr {
  width: 420px;
}

.mt-img-2 {
  margin-top: 20rem;
}

.mt-img-3 {
  margin-top: 35rem;
}

.mt-letter {
  margin-top: 30rem;
}

.mt-name {
  margin-top: 12rem;
}

.mt-date {
  margin-top: 38rem;
}