################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeddingAppAPI/.vs
/WeddingAppAPI/WeddingAppAPI/bin
/WeddingAppAPI/WeddingAppAPI/obj