@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-textDefault;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.text-white {
  color: white;
}

@font-face {
  font-family: 'High Spirited';
  src: url('/fonts/HighSpirited.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}